global {
	color: #66CCEE;
}
.txtNormal{
    color:black;
}
.closeBtn {
    upSkin:        Embed(source="img/flekristal_skin.swf", symbol="Panel_closeButtonUpSkin");
    overSkin:      Embed(source="img/flekristal_skin.swf", symbol="Panel_closeButtonUpSkin");
    downSkin:      Embed(source="img/flekristal_skin.swf", symbol="Panel_closeButtonUpSkin");
    disabledSkin:  Embed(source="img/flekristal_skin.swf", symbol="Panel_closeButtonUpSkin");
	
 }

.increaseBtn {
	upSkin:        Embed(source="img/flekristal_skin.swf", symbol="maximize");
    overSkin:      Embed(source="img/flekristal_skin.swf", symbol="maximize");
    downSkin:      Embed(source="img/flekristal_skin.swf", symbol="maximize");
	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="maximize");
}
.decreaseBtn {
	upSkin:        Embed(source="img/flekristal_skin.swf", symbol="minimize");
    overSkin:      Embed(source="img/flekristal_skin.swf", symbol="minimize");
    downSkin:      Embed(source="img/flekristal_skin.swf", symbol="minimize");
	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="minimize");
}

.resizeHndlr {
	upSkin:        Embed(source="img/flekristal_skin.swf", symbol="resize");
    overSkin:      Embed(source="img/flekristal_skin.swf", symbol="resize");
    downSkin:      Embed(source="img/flekristal_skin.swf", symbol="resize");
	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="resize");
}
 
/*
//------------------------------
//  AccordionHeader
//------------------------------
*/

/*
AccordionHeader
{

	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="AccordionHeader_disabledSkin");
	downSkin: Embed(source="img/flekristal_skin.swf", symbol="AccordionHeader_downSkin");
	overSkin: Embed(source="img/flekristal_skin.swf", symbol="AccordionHeader_overSkin");
	selectedDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="AccordionHeader_disabledSkin");
	selectedDownSkin: Embed(source="img/flekristal_skin.swf", symbol="AccordionHeader_downSkin");
	selectedOverSkin: Embed(source="img/flekristal_skin.swf", symbol="AccordionHeader_overSkin");
	selectedUpSkin: Embed(source="img/flekristal_skin.swf", symbol="AccordionHeader_selectedSkin");
	upSkin: Embed(source="img/flekristal_skin.swf", symbol="AccordionHeader_upSkin");

}*/
TextInput {
	backgroundAlpha:0;
}

/*
//------------------------------
//  Application
//------------------------------
*/
Application {
	backgroundColor:#000000;
	fontStyle:normal;
	fontFamily:arial;
	fontWeight:normal;
	fontSize:11;
	color: #66CCEE;

 }

/*
//------------------------------
//  Button
//------------------------------
*/
Button
{
	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="img/flekristal_skin.swf", symbol="Button_downSkin");
	overSkin: Embed(source="img/flekristal_skin.swf", symbol="Button_overSkin");
	upSkin: Embed(source="img/flekristal_skin.swf", symbol="Button_upSkin");
}

/* 
//------------------------------ 
//  ButtonBar 
//------------------------------ 


ButtonBar 
{ 
        buttonStyleName: "buttonBarButton"; 
        firstButtonStyleName: "firstButtonBarButton"; 
        lastButtonStyleName: "lastButtonBarButton";
}

ToggleButtonBar 
{ 
        buttonStyleName: "buttonBarButton"; 
        firstButtonStyleName: "firstButtonBarButton"; 
        lastButtonStyleName: "lastButtonBarButton";
}

/* 
//------------------------------ 
//  ButtonBarButtons 
//------------------------------ 
*/ 

.firstButtonBarButton 
{ 
        disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_firstDisabledSkin"); 
        downSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_firstDownSkin"); 
        overSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_firstOverSkin"); 
        selectedDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_firstDisabledSkin"); 
        selectedDownSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_firstSelectedUpSkin"); 
        selectedOverSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_firstSelectedUpSkin");
        selectedUpSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_firstSelectedUpSkin");
        upSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_firstUpSkin"); 
}
.buttonBarButton 
{ 
        disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_buttonDisabledSkin"); 
        downSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_buttonDownSkin"); 
        overSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_buttonOverSkin"); 
        selectedDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_buttonDisabledSkin"); 
        selectedDownSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_buttonSelectedUpSkin"); 
        selectedOverSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_buttonSelectedUpSkin");
        selectedUpSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_buttonSelectedUpSkin");
        upSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_buttonUpSkin"); 
}

.lastButtonBarButton 
{ 
        disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_lastDisabledSkin"); 
        downSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_lastDownSkin"); 
        overSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_lastOverSkin"); 
        selectedDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_lastDisabledSkin"); 
        selectedDownSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_lastSelectedUpSkin"); 
        selectedOverSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_lastSelectedUpSkin");
        selectedUpSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_lastSelectedUpSkin");
        upSkin: Embed(source="img/flekristal_skin.swf", symbol="ButtonBar_lastUpSkin"); 
}

/*
//------------------------------
//  CheckBox
//------------------------------
*/
/*
CheckBox
{
	disabledIcon: Embed(source="img/flekristal_skin.swf", symbol="CheckBox_disabledIcon");
	downIcon: Embed(source="img/flekristal_skin.swf", symbol="CheckBox_upIcon");
	overIcon: Embed(source="img/flekristal_skin.swf", symbol="CheckBox_upIcon");
	selectedDisabledIcon: Embed(source="img/flekristal_skin.swf", symbol="CheckBox_selectedDisabledIcon");
	selectedDownIcon: Embed(source="img/flekristal_skin.swf", symbol="CheckBox_selectedUpIcon");
	selectedOverIcon: Embed(source="img/flekristal_skin.swf", symbol="CheckBox_selectedUpIcon");
	selectedUpIcon: Embed(source="img/flekristal_skin.swf", symbol="CheckBox_selectedUpIcon");
	upIcon: Embed(source="img/flekristal_skin.swf", symbol="CheckBox_upIcon");
}	
*/	

/*
//------------------------------
//  ColorPicker
//------------------------------

ColorPicker
{
	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ColorPicker_disabledSkin");
	downSkin: Embed(source="img/flekristal_skin.swf", symbol="ColorPicker_downSkin");
	overSkin: Embed(source="img/flekristal_skin.swf", symbol="ColorPicker_overSkin");
	upSkin: Embed(source="img/flekristal_skin.swf", symbol="ColorPicker_upSkin");
}*/		
Canvas {
	backgroundColor: #ffffff;
	background-image: Embed(source='img/blueglass.jpg');
	backgroundSize: auto;
	color: #66CCEE;
	
}
/*
//------------------------------
//  ComboBox
//------------------------------

ComboBox
{

	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_disabledSkin");
	downSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_downSkin");
	overSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_overSkin");
	upSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_upSkin");
	dropDownStyleName: "myComboBoxDropDowns";
backgroundAlpha: 0;
}

.myComboBoxDropDowns {

  backgroundAlpha: 0;
}
/*
//------------------------------
//  CursorManager
//------------------------------
*/

CursorManager
{
	busyCursor: Embed(source="img/flekristal_skin.swf", symbol="BusyCursor");
	busyCursorBackground: Embed(source="img/flekristal_skin.swf",symbol="BusyCursor");
}

/*
//------------------------------
//  DataGrid
//------------------------------

DataGrid
{
	
	columnDropIndicatorSkin: Embed(source="img/flekristal_skin.swf", symbol="DataGrid_columnDropIndicatorSkin");
	columnResizeSkin: Embed(source="img/flekristal_skin.swf", symbol="DataGrid_columnResizeSkin");
	headerSeparatorSkin: Embed(source="img/flekristal_skin.swf", symbol="DataGrid_headerSeparatorSkin");
	sortArrowSkin: Embed(source="img/flekristal_skin.swf", symbol="DataGrid_sortArrowSkin");
	stretchCursor: Embed(source="img/flekristal_skin.swf",symbol="DataGrid_stretchCursor");
	backgroundSkin: Embed(source="img/flekristal_skin.swf", symbol="MenuBar_backgroundSkin");
}

/*
//------------------------------
//  DateChooser
//------------------------------

DateChooser {
	
	nextMonthDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_nextMonthDisabledSkin");
	nextMonthDownSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_nextMonthUpSkin");
	nextMonthOverSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_nextMonthUpSkin");
	nextMonthUpSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_nextMonthUpSkin");
	prevMonthDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_prevMonthDisabledSkin");
	prevMonthDownSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_prevMonthUpSkin");
	prevMonthOverSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_prevMonthUpSkin");
	prevMonthUpSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_prevMonthUpSkin");
	
	nextYearDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_nextYearDisabledSkin");
	nextYearDownSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_nextYearDownSkin");
	nextYearOverSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_nextYearOverSkin");
	nextYearUpSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_nextYearUpSkin");
	prevYearDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_prevYearDisabledSkin");
	prevYearDownSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_prevYearDownSkin");
	prevYearOverSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_prevYearOverSkin");
	prevYearUpSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_prevYearUpSkin");

	todayIndicatorSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_todayIndicatorSkin");	
	
	rollOverIndicatorSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_rollOverIndicatorSkin");
	selectionIndicatorSkin: Embed(source="img/flekristal_skin.swf", symbol="DateChooser_selectionIndicatorSkin");
	
}

/*
//------------------------------
//  DateField
//------------------------------

DateField
{
	disabledSkin: Embed(source="img/flekristal_skin.swf",symbol="DateField_disabledSkin"); 
	downSkin: Embed(source="img/flekristal_skin.swf",symbol="DateField_downSkin"); 
	overSkin: Embed(source="img/flekristal_skin.swf",symbol="DateField_overSkin"); 
	upSkin: Embed(source="img/flekristal_skin.swf",symbol="DateField_upSkin"); 
	backgroundAlpha: 0.5;
}

/*
//------------------------------
//  DividedBox
//------------------------------

DividedBox
{
	dividerSkin: Embed(source="img/flekristal_skin.swf",symbol="DividedBox_dividerSkin");
	horizontalCursor: Embed(source="img/flekristal_skin.swf",symbol="DividedBox_horizontalCursor");
	verticalCursor: Embed(source="img/flekristal_skin.swf",symbol="DividedBox_verticalCursor");
}

/*
//------------------------------
//  DragManager
//------------------------------

DragManager
{
	copyCursor: Embed(source="img/flekristal_skin.swf",symbol="DragManager_copyCursor");

	defaultDragImageSkin: Embed(source="img/flekristal_skin.swf", symbol="DragManager_defaultDragImageSkin");

	linkCursor: Embed(source="img/flekristal_skin.swf",symbol="DragManager_linkCursor");
	moveCursor: Embed(source="img/flekristal_skin.swf",symbol="DragManager_moveCursor");
	rejectCursor: Embed(source="img/flekristal_skin.swf",symbol="DragManager_rejectCursor");
}

/*
//------------------------------
//  FormItem
//------------------------------

FormItem
{
	indicatorSkin: Embed(source="img/flekristal_skin.swf",symbol="FormItem_indicatorSkin");  
}

/*
//------------------------------
//  Image
//------------------------------

Image
{

	brokenImageSkin: Embed(source="img/flekristal_skin.swf",symbol="Loader_brokenImageSkin");

}

/*
//------------------------------
//  LinkButton
//------------------------------

LinkButton
{
	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="LinkButton_disabledSkin");
	downSkin: Embed(source="img/flekristal_skin.swf", symbol="LinkButton_downSkin");
	overSkin: Embed(source="img/flekristal_skin.swf", symbol="LinkButton_overSkin");
	upSkin: Embed(source="img/flekristal_skin.swf", symbol="LinkButton_upSkin");
}		

/*
//------------------------------
//  Loader
//------------------------------
*/
Loader
{
	brokenImageSkin: Embed(source="img/flekristal_skin.swf",symbol="Loader_brokenImageSkin");

}

/*
//------------------------------
//  Menu
//------------------------------

Menu
{
	branchIcon: Embed(source="img/flekristal_skin.swf",symbol="Menu_branchIcon");
	branchDisabledIcon: Embed(source="img/flekristal_skin.swf",symbol="Menu_branchDisabledIcon");
	checkIcon: Embed(source="img/flekristal_skin.swf",symbol="Menu_checkIcon");
	checkDisabledIcon: Embed(source="img/flekristal_skin.swf",symbol="Menu_checkDisabledIcon");
	radioIcon: Embed(source="img/flekristal_skin.swf",symbol="Menu_radioIcon");
	radioDisabledIcon: Embed(source="img/flekristal_skin.swf",symbol="Menu_radioDisabledIcon");
	separatorSkin: Embed(source="img/flekristal_skin.swf",symbol="Menu_separatorSkin");
}

/*
//------------------------------
//  MenuBar
//------------------------------

MenuBar
{

	backgroundSkin: Embed(source="img/flekristal_skin.swf", symbol="MenuBar_backgroundSkin");
	itemUpSkin: Embed(source="img/flekristal_skin.swf", symbol="MenuBar_itemUpSkin");
	itemOverSkin: Embed(source="img/flekristal_skin.swf", symbol="MenuBar_itemOverSkin");
	itemDownSkin: Embed(source="img/flekristal_skin.swf", symbol="MenuBar_itemDownSkin");

}

/*
//------------------------------
//  NumericStepper 
//------------------------------

NumericStepper
{

	downArrowDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="NumericStepperDownArrow_disabledSkin");
	downArrowDownSkin: Embed(source="img/flekristal_skin.swf", symbol="NumericStepperDownArrow_upSkin");
	downArrowOverSkin: Embed(source="img/flekristal_skin.swf", symbol="NumericStepperDownArrow_upSkin");
	downArrowUpSkin: Embed(source="img/flekristal_skin.swf", symbol="NumericStepperDownArrow_upSkin");
	upArrowDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="NumericStepperUpArrow_disabledSkin");
	upArrowDownSkin: Embed(source="img/flekristal_skin.swf", symbol="NumericStepperUpArrow_upSkin");
	upArrowOverSkin: Embed(source="img/flekristal_skin.swf", symbol="NumericStepperUpArrow_upSkin");
	upArrowUpSkin: Embed(source="img/flekristal_skin.swf", symbol="NumericStepperUpArrow_upSkin");

}

/*
//------------------------------
//  Panel
//------------------------------
*/
.Panel
{

	closeButtonDisabledSkin: Embed(source="img/flekristal_skin.swf",symbol="Panel_closeButtonOverSkin");
	closeButtonDownSkin: Embed(source="img/flekristal_skin.swf",symbol="Panel_closeButtonUpSkin");
	closeButtonOverSkin: Embed(source="img/flekristal_skin.swf",symbol="Panel_closeButtonOverSkin");
	closeButtonUpSkin: Embed(source="img/flekristal_skin.swf",symbol="Panel_closeButtonUpSkin");
	borderSkin: Embed(source="img/flekristal_skin.swf", symbol="Panel_borderSkin");
	titleBackgroundSkin: Embed(source="img/empty.swf", symbol="Panel_titleBackgroundSkin");
	
}

/*
//------------------------------
//  Panel ControlBar
//------------------------------
*/
ControlBar
{
	borderSkin: Embed(source="img/flekristal_skin.swf", symbol="Panel_controlBarBackgroundSkin");
	horizontalAlign: center;
	paddingBottom: 14;
}
        
/*
//------------------------------
//  PopUpButton
//------------------------------

PopUpButton
{
	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_disabledSkin");
	downSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_downSkin");
	overSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_overSkin");	
	popUpDownSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_downSkin");
	popUpOverSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_overSkin");
	upSkin: Embed(source="img/flekristal_skin.swf", symbol="ComboBoxArrow_upSkin");
}


/*
//------------------------------
//  ProgressBar
//------------------------------

ProgressBar
{

	barSkin: Embed(source="img/flekristal_skin.swf", symbol="ProgressBarSkin");
	indeterminateSkin: Embed(source="img/flekristal_skin.swf", symbol="ProgressIndeterminateSkin");
	trackSkin: Embed(source="img/flekristal_skin.swf", symbol="ProgressTrackSkin");

}

/*
//------------------------------
//  RadioButton
//------------------------------
*/
RadioButton
{

	disabledIcon: Embed(source="img/flekristal_skin.swf", symbol="RadioButton_disabledIcon");
	downIcon: Embed(source="img/flekristal_skin.swf", symbol="RadioButton_upIcon");
	overIcon: Embed(source="img/flekristal_skin.swf", symbol="RadioButton_upIcon");
	selectedDisabledIcon: Embed(source="img/flekristal_skin.swf", symbol="RadioButtonSelected_disabledIcon");
	selectedDownIcon: Embed(source="img/flekristal_skin.swf", symbol="RadioButtonSelected_upIcon");
	selectedOverIcon: Embed(source="img/flekristal_skin.swf", symbol="RadioButtonSelected_upIcon");
	selectedUpIcon: Embed(source="img/flekristal_skin.swf", symbol="RadioButtonSelected_upIcon");
	upIcon: Embed(source="img/flekristal_skin.swf", symbol="RadioButton_upIcon");

}

/*
//------------------------------
//  HorizontalScrollBar
//------------------------------
*/
HScrollBar
{
	
	downArrowDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollArrowRight_upSkin");
	downArrowDownSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollArrowRight_upSkin");
	downArrowOverSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollArrowRight_upSkin");
	downArrowUpSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollArrowRight_upSkin");
	thumbDownSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollThumb_upSkin");
	thumbIcon: Embed(source="img/flekristal_skin.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollThumb_upSkin");
	thumbUpSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollThumb_upSkin");
	trackSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollArrowLeft_upSkin");
	upArrowDownSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollArrowLeft_upSkin");
	upArrowOverSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollArrowLeft_upSkin");
	upArrowUpSkin: Embed(source="img/flekristal_skin.swf", symbol="HScrollArrowLeft_upSkin");

}


/*
//------------------------------
//  VerticalScrollBar
//------------------------------
*/
VScrollBar
{

	downArrowDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollArrowDown_upSkin");
	downArrowDownSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollArrowDown_upSkin");
	downArrowOverSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollArrowDown_upSkin");
	downArrowUpSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollArrowDown_upSkin");
	thumbDownSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollThumb_upSkin");
	thumbIcon: Embed(source="img/flekristal_skin.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollThumb_upSkin");
	thumbUpSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollArrowUp_upSkin");
	upArrowDownSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollArrowUp_upSkin");
	upArrowOverSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollArrowUp_upSkin");
	upArrowUpSkin: Embed(source="img/flekristal_skin.swf", symbol="ScrollArrowUp_upSkin");

}

/*
//------------------------------
//  Slider
//------------------------------

Slider
{
	thumbDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderTrack_Skin");
}

HSlider
{
	thumbDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderTrack_Skin");
}

VSlider
{
	thumbDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="img/flekristal_skin.swf", symbol="SliderTrack_Skin");
}

/*
//------------------------------
//  Tab
//------------------------------

TabBar
{
	firstButtonStyleName: "tabStyle";
	tabStyleName: "tabStyle";
	lastButtonStyleName: "tabStyle";
}

.tabStyle {
	disabledSkin: Embed(source="img/flekristal_skin.swf", symbol="Tab_disabledSkin");
	downSkin: Embed(source="img/flekristal_skin.swf", symbol="Tab_downSkin");
	overSkin: Embed(source="img/flekristal_skin.swf", symbol="Tab_overSkin");
	selectedDisabledSkin: Embed(source="img/flekristal_skin.swf", symbol="TabSelected_disabledSkin");
	selectedDownSkin: Embed(source="img/flekristal_skin.swf", symbol="TabSelected_upSkin");
	selectedOverSkin: Embed(source="img/flekristal_skin.swf", symbol="TabSelected_upSkin");
	selectedUpSkin: Embed(source="img/flekristal_skin.swf", symbol="TabSelected_upSkin");
	upSkin: Embed(source="img/flekristal_skin.swf", symbol="Tab_upSkin");

}

/*
//------------------------------
//  ToolTip
//------------------------------
*/
ToolTip
{

	borderSkin: Embed(source="img/flekristal_skin.swf", symbol="ToolTip_borderSkin");

}

/*
//------------------------------
//  Tree
//------------------------------

Tree
{
	defaultLeafIcon: Embed(source="img/flekristal_skin.swf",symbol="Tree_defaultLeafIcon");
	disclosureClosedIcon: Embed(source="img/flekristal_skin.swf",symbol="Tree_disclosureClosedIcon");
	disclosureOpenIcon: Embed(source="img/flekristal_skin.swf",symbol="Tree_disclosureOpenIcon");
	folderClosedIcon: Embed(source="img/flekristal_skin.swf",symbol="Tree_folderClosedIcon");
	folderOpenIcon: Embed(source="img/flekristal_skin.swf",symbol="Tree_folderOpenIcon");
	
}
*/
Alert {
            titleStyleName: "alertTitle";
            messageStyleName: "alertMessage";
            buttonStyleName: "alertButton";
            dropShadowEnabled: true;
            shadowDistance: 5;
            shadowDirection: right;
            cornerRadius: 0;
            embedFonts: true;
            fontFamily: Base02;
        }
 
        .alertTitle {
            letterSpacing: 0;
            fontSize: 14;
            fontWight:bold;
            color: #66CCEE;
        }
 
        .alertMessage {
            letterSpacing: 0;
            fontSize: 14;
            fontWeight: normal;
            color: black;
        }
 
        .alertButton {
            letterSpacing: 0;
            fontSize: 11;
            cornerRadius: 10;
            fontWeight: bold;
            textRollOverColor: white;
            color: #000000;
            skin: ClassReference(null);
        }
Panel
{	borderSkin: Embed(source="img/flekristal_skin.swf", symbol="Panel_borderSkin");
	titleBackgroundSkin: Embed(source="img/empty.swf", symbol="Panel_titleBackgroundSkin");
	
}     

Image{
	cursor:pointer;
}