/* CSS Document  by pandorati, victor hugo*/
body{margin:0px; background:url(img/bgModal.jpg);}

h1{font-size:18px; margin:0px; border-bottom:#336699 solid}

.foto{position:absolute; width:500px; height:375px; padding:5px; background:#CCCCCC; right:0px; top:30px;}

.detalhes{position:absolute; width:300px; height:165px; top:30px; left:0px; padding:5px;}
.detalhes p{margin:0px;}

.itens{position:absolute; width:300px; height:105px; top:205px; left:0px; padding:5px; overflow:auto; overflow-x:hidden;}
.itens li{color:#336600; font-size:12px; list-style:url(img/star.png); float:left; margin:5px; background:#CCCCCC;}
.itens span{color:#336600; font-size:12px; float:left; margin:5px;}

.thumbs{position:absolute; width:311px; height:145px; top:342px; left:0px; overflow:auto; overflow-x:hidden;}
.titleFotos{position:absolute; width:310px; height:20px; top:322px; left:0px;}
.miniT{width:75px; height:55px; float:left; padding:3px;}
h4{padding:0px 0px 0px 0px; margin:0px; font-size:12px; color:#527242;}
.visualizacao{width:200px; height:20px; position:absolute; right:0px; top:0px; text-align:right; color:#993300;}

.btnMais{width:170px; height:49px; background:url(img/btnSolicita.jpg); position:absolute; right:10px; bottom:10px; border:none;}

#formContato{
	width:370px;
	height:300px;
	background-color:#999999;
	margin:10px;
	text-align:center;
	position:relative;
	margin-top:40px;
}
#carrega2{display:none;}

h2{color:#003366; font-size:16px; margin:6px 0px 3px 0px;}