/*
 _____  _  _____ _   _   _    ____  _   _ 
|_   _|/ \|_   _| | | | / \  |  _ \| | | |
  | | / _ \ | | | | | |/ _ \ | |_) | | | |
  | |/ ___ \| | | |_| / ___ \|  __/| |_| |
  |_/_/   \_\_|  \___/_/   \_\_|    \___/ 
                                          
*/

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

* {
  margin: 0;
  box-sizing:border-box;
}
html, body {
  height: 100%;
 }
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px; 
}
.site-footer {
  background: position: relative; display: table; width: 100%;
  background-color: white;
  text-align:center;
}

textarea {line-height: 24px !important;}

h1 { font-family: 'Muli', sans-serif; font-size: 36px; text-align: left; color: #204187; margin: 15px 0px; font-weight:bold;}
h2 { font-family: 'Muli', sans-serif; font-size: 28px; text-align: left; color: #204187; margin: 12px 0px; font-weight:400;}
h3 { font-family: 'Muli', sans-serif; font-size: 21x; text-align: left; color: #204187; margin: 8px 0px; font-weight:400;}
h4 { font-family: 'Muli', sans-serif; font-size: 18px; text-align: left; color: #204187; margin: 5px 0px; font-weight:400;}

h1 a, h2 a, h3 a, h4 a {color: #204187; text-decoration: none; } 
h1 b, h2 b, h3 b {color: #204187;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {color: #000; text-decoration: none; } 

.h1_branco { font-family: 'Muli', sans-serif; font-size: 36px; text-align: left; color: #fff; margin: 15px 0px; font-weight:bold;}
.h2_branco { font-family: 'Muli', sans-serif; font-size: 28px; text-align: left; color: #fff; margin: 12px 0px;}
.h3_branco { font-family: 'Muli', sans-serif; font-size: 21x; text-align: left; color: #fff; margin: 8px 0px;}
.h4_branco { font-family: 'Muli', sans-serif; font-size: 18px; text-align: left; color: #fff; margin: 5px 0px;}

.btn_vermelho { display: block; padding: 10px 15px; border: 2px solid #b92639; font-family: 'Fjalla One', sans-serif; font-size: 16px; text-transform: uppercase; color: #000; text-align: center; background: none; border-radius: 0; -webkit-border-radius:0; -moz-border-radius:0; margin-top: 30px; float: right; }
.btn_vermelho:hover { color: #b92639; background: #f2f2f2; cursor: pointer;}

.btn_branco { display: block; padding: 10px 15px; border: 2px solid #fff; font-family: 'Fjalla One', sans-serif; font-size: 16px; text-transform: uppercase; color: #fff; text-align: center; background: none; border-radius: 0; -webkit-border-radius:0; -moz-border-radius:0; margin-top: 30px; float: right; }
.btn_branco:hover { border: 2px solid #fff; color: #b92639; background: #fff; cursor: pointer;}

.full-content {width: 100%; display: table; float: left; padding: 0 30px; background-position: right bottom; background-size: 100%;} 	

@media screen and (min-width: 320px) {
	#topo {width: 100%; height: 160px; display: table; position: fixed; background: #FFF; top:0; left:0; z-index: 999;}
	#logo {width: 130px; height: 130px; position: fixed; top: 20px; left: 20px; background: url(../img/logo-jap.png) no-repeat; background-size: contain;}
	
	#btn_menu_mob {width: 65px; height: 65px; background:#204187; color: #FFF; text-align: center; line-height: 75px; position: fixed; top: 20px; right: 20px; z-index: 9999999999;}
	#btn_menu_mob:hover { background:#FFF; border: 1px solid #204187; color: #204187; cursor: pointer;}
	#menu_dsktp {width:0px; heihgt: 0px; display: none; visibility: hidden;}
	#menu_mob {width: 100%; position: absolute; top: 0px; background: #204187; display: none;}
	#menu_mob ul{width: 100%; display: table; list-style: none;}
	#menu_mob ul li {width: 100%; height: 45px; display: block; font-family: 'Muli', sans-serif; text-transform: uppercase; font-size: 14px; color: #FFF; line-height: 45px; text-align: left; text-indent: 15px;}
	#menu_mob ul li a{width: 100%; height: 45px; display: block; font-family: 'Muli', sans-serif; text-transform: uppercase; font-size: 14px; color: #FFF; line-height: 45px; text-align: left; text-decoration: none; text-indent: 15px;}
	#menu_mob ul li a:hover { color: #b92639; background: #FFF; box-sizing: border-box; text-decoration:none;}
	.sidebar_menu {width:0; height:0; display: none; visibility: hidden;}
	
	/*----------------------- BOX CONTENT -----------------------*/
	 #box_content {width: 90%; min-height: 300px; margin: 90px auto 0 auto; background: #FFF; display: table; padding-top: 30px;}
	 	 
	 .row_site {width: 100%; display: table; position: relative; margin:0; padding:0;}
	 	 

	 .col-esq-content {width: 100%; min-height: 300px; display: table; float: left; padding: 0 30px; background-position: right bottom; background-size: 100%;}
	 .col-dir-content {width: 100%; display: table; float: left; padding: 0 30px;}	 
 
	 .sidebar {width: 100%; display: table;}
	 .sidebar-item {width: 90%; height: auto; margin: 12px auto; display: table; border-top: thin solid #d1425a;}
	 #first_item_sidebar {border-top: none !important;}
	 .sidebar-item h1 { font-family: 'Muli', sans-serif; font-size: 36px; text-align: left; color: #fff; margin: 15px 0px; font-weight:bold;}
	.sidebar-item h2 { font-family: 'Muli', sans-serif; font-size: 28px; text-align: left; color: #fff; margin: 12px 0px;}
	.sidebar-item h3 { font-family: 'Muli', sans-serif; font-size: 21x; text-align: left; color: #fff; margin: 8px 0px;}
	.sidebar-item h4 { font-family: 'Muli', sans-serif; font-size: 18px; text-align: left; color: #fff; margin: 5px 0px;}
	
	.sidebar-item ul {width: 100%; display: table; padding: 15px 0px; }
	.sidebar-item ul li {width: 100%; display: table;}
	
	.sidebar-item ul li a{display: table; font-family: 'Muli', sans-serif; font-size: 14px; text-align: left; color: #fff; text-decoration: none; line-height: 21px;}
	.sidebar-item ul li a:hover{display: table; font-family: 'Muli', sans-serif; font-size: 14px; text-align: left; color: #000; text-decoration: underline; line-height: 21px;}
	 
	 
	 
	 /*--Content Base--*/
	 .base_content p{ font-family: 'Muli', sans-serif; font-size: 14px; color: #666; line-height: 18px; text-align: left;}
	 .base_content b{color:#204187;}
	 .form_base {width: 100%; display: table;}
	 .campo_base { width: 100%; border: 2px solid #b92639; background: #FFF; color: #666; text-indent: 8px; line-height:55px; font-family: 'Muli', sans-serif;}
	 .btn_base { display: block; padding: 10px 15px; border: 2px solid #b92639; font-family: 'Fjalla One', sans-serif; font-size: 16px; text-transform: uppercase; color: #000; text-align: center; background: none; border-radius: 0; -webkit-border-radius:0; -moz-border-radius:0; margin-top: 30px; float: right; margin-bottom: 30px;}
	 .btn_base:hover { color: #b92639; background: #f2f2f2;}
	 .img-base {display: table-cell;}
	 .img-base img {width: 90%; max-width: 90%; height: auto; vertical-align: bottom; }	 
	  
	

	
}

@media screen and (min-width: 480px) {
	
	.owl-stage-outer {width: 432px;}
	
}

@media screen and (min-width: 600px) {
	
	.owl-stage-outer {width: 540px;}
	.mapa {width: 100%; display: block; height: 320px; overflow: hidden;}
	
}


@media screen and (min-width: 768px) {
	
	.owl-stage-outer {width: 690px;}
	
	.mapa {width: 100%; display: block; height: 400px; overflow: hidden;}
	
	.resultado {width: 90%; margin: 30px auto;}
	
	.status {width: 25%; position: relative; z-index: 12;}
	
	.status p {text-align: left;}
	
	.linha_steps {width: 75%; height: 4px; background: #ccc; display: block; visibility: visible; position: absolute; top: 68px; left:0; z-index: 11;}
	
	.numero {width: 50px; height: 50px; background: #ccc; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; margin: 0px; }
	
	.numero p {text-align: center;}
	
}

@media screen and (min-width: 990px) {
	#topo {width: 100%; height: 150px; display: table; position: relative; background: transparent;}
	#menu_mob, #btn_menu_mob {width:0px; heihgt: 0px; display: none; visibility: hidden;}
	.menu_lateral {width: 285px; height: auto; position: fixed; top: 45px; right: 40px; background: #204187; display: table; z-index: 999; visibility:visible;}
	.telefones { width: 100%; height: 140px; padding: 23px; padding-top:10px;  border-bottom: thin solid #ead524;}
	.telefones h3, .telefones h2 { color: #FFF !important;}
	
	#menu_dsktp {width: 100%; display: table; visibility: visible; position: relative;}
	#menu_dsktp ul { width: 100%; display: table; list-style: none; padding:0;}
	#menu_dsktp ul li { width: 100%; height: 70px; display: block; font-family: 'Muli', sans-serif; font-weight: 400; font-size: 16px; color: #FFF; line-height: 70px; text-indent: 30px; position: relative; border-bottom: thin solid #ead524;}
	#menu_dsktp ul li a { width: 100%; height: 70px; display: block; font-family: 'Muli', sans-serif; font-weight: 400; font-size: 16px; color: #FFF; line-height: 70px; text-indent: 30px; text-decoration: none; position: relative;}
	#menu_dsktp ul li a:hover, .current-menu-item { text-decoration: none; color: #204187; background: #f2f2f2;}
	.current-menu-item a{  color: #204187 !important;}
	.menu_marker { width: 0; height: 0; border-style: solid;border-color: transparent transparent transparent #ead524; line-height: 0px; _border-color: #000000 #000000 #000000 #f2f2f2; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); position: absolute; top:0; left: -35px; display:none; z-index: 10;  border-top: 35px solid transparent; border-bottom: 35px solid transparent; border-right: 35px solid #ead524;}
	
	.menu_marker_active { width: 0; height: 0; border-style: solid; border-color: transparent transparent transparent #ead524; line-height: 0px; _border-color: #000000 #000000 #000000 #f2f2f2; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); position: absolute; top:0; left: -35px; display:block !important; z-index: 10; border-top: 35px solid transparent; border-bottom: 35px solid transparent; border-right: 35px solid #ead524; }
	
	.social_media {width: 100%; height: 65px; margin: 0px 0px 10px 0px; padding-left: 30px;}
	.social_media i { width: 45px; height: 45px; line-height: 45px; text-align: center; display: block; margin: 12px 12px 12px 0px; float: left; color: #204187; background: #fff; border-radius: 100%;}
	.social_media i:hover { background: #ead524; color: #204187; cursor: pointer;}
	
	/*----------------------- BOX CONTENT -----------------------*/
	 #box_content {width: -moz-calc(100% - 355px); width: -webkit-calc(100% - 355px); width: calc(100% - 355px); margin: 35px 0 0 30px; background: #FFF; display: table; float: left;}
	 #box_content_noticias {width: -moz-calc(100% - 355px); width: -webkit-calc(100% - 355px); width: calc(100% - 355px); margin: 35px 0 0 285px; display: table; float: left;}
	 .col-esq-content { width: -moz-calc(50% - 60px); width: -webkit-calc(50% - 60px); width: calc(50% - 60px); display: table; float: left; margin-left: 60px; padding:0px 30px 0px 0px;}
	 .col-dir-content {width: 50%; display: table; float: left;}
	 
	 .owl-stage-outer {width: 636px;}
	 
	 
	
	
}

@media screen and (min-width: 1200px) {
	
		.owl-stage-outer {width: 846px;}
		
		/*---Nossos Produtos---*/
		
		.scrolldown {width: 120px;height: 80px;display: table;background: transparent;position: absolute; bottom: 0px; margin: 0 auto; left: -100px; right: 0; z-index: 99999999999999; text-align: center; visibility: visible; color: #666; cursor: pointer;}
.bounce {
    margin: 30px auto;
    left: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
    display: block;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}


.scrolldown i {
    color: #b92639;
    text-align: center;
}
	.col-esq-produtos {  width: -moz-calc(40% - 60px); width: -webkit-calc(40% - 60px); width: calc(40% - 60px); margin-left: 60px; display: table; float: left;}
	.col-dir-produtos {  width: -moz-calc(50% - 30px); width: -webkit-calc(50% - 30px); width: calc(50% - 30px); margin-left: 30px; display: table; float: left; visibility: visible;}
	
	.form_solicite_orcamento {width: 70%; margin: 30px auto; display: table;}

	.hs-spot-object {display: block !important;}
	.txt_produtos_mob { width:0; height:0; display: none; visibility:hidden;}
	.txt_produtos_dsktp { width:100%; height:auto; display: table; visibility:visible;}
	h2.txt_produtos_dsktp {font-size: 18px;}
		
		h2.txt_produtos_dsktp {font-size: 21px;}
}

@media screen and (min-width: 1400px) {
	
		.owl-stage-outer {width: 1040px;}
		
		/*--Depoimentos--*/
.form_depoimento {width: 100%; background: #b92639; display:table; border-bottom: none; border-left: thin solid #d1425a; margin: 0px; padding-left: 10px;}
	.col-esq-depoimentos {  width: 55%; display: table; float: left;}
	.col-dir-depoimentos {  width: 40%; display: table; float: left;}
	.tmls_text {font-size: 28px !important;}
	h2.txt_produtos_dsktp {font-size: 32px;}
	
}

@media screen and (min-width: 1400px) {
	
		.owl-stage-outer {width: 1564px;}
}

.rights {width: auto; height: 35px; position: relative; }
.rights p { color: black; font-size: 11px; font-family: 'Open Sans', sans-serif; line-height: 35px;}
.rights p a{color: black; font-size: 11px; font-family: 'Open Sans', sans-serif; line-height: 35px; text-decoration: none;}
.rights p a:hover{color: blue; font-size: 11px; line-height: 35px; text-decoration: none;}
.rights p a img { display: inline-block; border: none; line-height: 35px;  }

