.wpgmp_map img {
    max-width: none !important;
    padding: 0px !important;
}

.wpgmp_map div {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.geotags_link {
    clear: both;
    display: block;
    text-decoration: none;
    border: none;
}
/* Reset all CSS */

.wpgmp_tabs_container * {
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    font-size: normal;
    font-weight: normal;
    border: none !important;
    color: #707070;
}

.gm-style-iw {
    color: #000 !important;
}

.wpgmp_tabs_container {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 40%;
    right: 5px;
    top: 45px;
    z-index: 100;
    padding: 5px;
}

.wpgmp_tabs_container .jspContainer {
    overflow: hidden;
    position: relative;
}

.wpgmp_tabs_container .jspPane {
    position: absolute;
}

.wpgmp_tabs_container .jspVerticalBar {
    position: absolute;
    top: 0;
    right: 19px;
    width: 3px;
    height: 100%;
    background: red;
}

.wpgmp_tabs_container .jspVerticalBar .jspArrow {
    height: 16px;
}

.wpgmp_tabs_container .jspVerticalBar .jspArrow:focus {
    outline: none;
}

.wpgmp_tabs_container .jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.wpgmp_tabs_container .jspHorizontalBar .jspCap {
    float: left;
}

.wpgmp_tabs_container .jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.wpgmp_tabs_container .jspCap {
    display: none;
}

.wpgmp_tabs_container .jspTrack {
    background: #dde;
    position: relative;
}

.wpgmp_tabs_container .jspDrag {
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.wpgmp_tabs_container .jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.wpgmp_tabs_container .jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.wpgmp_tabs_container .jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

.wpgmp_tabs_container .wpgmp_tabs {
    width: 100%;
    border: 1px solid #e4e4e4;
    background: #f7f7f7;
    display: table;
    margin: 0 0 4px !important;
    padding: 0;
    font-size: .8em;
}

.wpgmp_tabs_container .wpgmp_tabs li {
    display: table-cell;
}

.wpgmp_tabs_container .wpgmp_tabs li a.active {
    background: #f1f1f1;
    cursor: pointer;
    font-weight: 300;
    border: none;
}

.wpgmp_tabs_container .wpgmp_tabs li a {
    display: block;
    text-align: center;
    text-decoration: none !important;
    color: #464647;
    padding: 3px;
}

.wpgmp_tabs_container .wpgmp_tab_item {
    background: #F7F7F7;
    border: 1px solid #e8ebec;
    text-indent: 10px;
    margin: 5px 0px;
    padding: 5px 0px
}

.wpgmp_tabs_container .wpgmp_tab_item .wpgmp_cat_title {
    text-decoration: none;
    padding: 0 0 0 8px;
}

.wpgmp_tabs_container .wpgmp_tab_item .wpgmp_cat_title span.arrow {
    float: right;
    margin-right: 20px;
    width: 16px;
}

.wpgmp_tabs_container .wpgmp_tab_item .wpgmp_cat_title:hover {
    color: #000!important;
    text-decoration: none!important;
}

.wpgmp_tabs_container .wpgmp_tab_item:hover {
    border: 1px solid #CCC;
}

.wpgmp_tabs_container .jspHorizontalBar .jspTrack,
.wpgmp_tabs_container .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

* html .wpgmp_tabs_container .jspCorner {
    margin: 0 -3px 0 0;
}

.wpgmp_map_container {
    position: relative;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.wpgmp_map_container .gm-style-iw {
    min-height: 50px!important;
    min-width: 150px!important;
}

.wpgmp_toggle_main_container {
    width: 100%;
    font-size: 12px !important;
    font-weight: 300 !important;
    margin: 10px 0px;
}

.wpgmp_tab_item .wpgmp_location_container {
    margin: 0!important;
}

.wpgmp_tab_item .wpgmp_location_container li.wpgmp_all_locations {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: 0 18px 0 25px;
    padding: 4px 0;
}

.wpgmp_tab_item .wpgmp_location_container li.wpgmp_all_locations:before {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid #9E9E9E;
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: -4px 5px 0 0;
}

.wpgmp_tab_item .wpgmp_location_container li.wpgmp_all_locations:hover {
    border: 1px solid #D1D1D1;
    color: #000!important;
    text-decoration: none!important;
}

li.wpgmp_nearby_all_locations {
    list-style: none;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #E9E9E9;
    width: 97%;
    text-indent: 10px;
    margin: 6px 10px 0 0px !important;
    padding: 7px 5px;
    float: left;
}

.wpgmp_listing_grid .wpgmp_locations {
    width: 30%;
    vertical-align: top;
    display: inline-block;
    padding: 10px 8px;
    margin: 3px 6px 9px 6px;
    background: none repeat scroll 0 0 rgba(249, 249, 249, 0.07);
    border: 1px solid #E9E9E9;
    border-radius: 4px;
}

.wpgmp_listing_grid .wpgmp_locations .wpgmp_location_title {
    width: 100%;
    line-height: 25px;
}

.wpgmp_listing_grid .wpgmp_locations .wpgmp_location_meta {
    float: left;
    font-style: normal;
    width: 100%;
    margin-top: 17px;
    font: italic 14px georgia;
}

.wpgmp_listing_list .wpgmp_locations {
    float: left;
    width: 98%;
    border-radius: 4px;
    padding: 10px 8px;
    margin-bottom: 10px;
    background: none repeat scroll 0 0 rgba(249, 249, 249, 0.07);
    border: 1px solid #E9E9E9;
}

.wpgmp_listing_list .wpgmp_locations .wpgmp_location_meta {
    float: right;
    font: italic 14px georgia;
}

.wpgmp_listing_grid .wpgmp_locations .wpgmp_locations_content,
.wpgmp_listing_list .wpgmp_locations .wpgmp_locations_content {
    float: left;
    width: 100%;
    color: #333;
}

.categories_filter span.span_list,
.categories_filter span.span_grid,
.categories_filter span.span_print {
    float: right;
    margin: 7px;
}

.categories_filter span.span_list img,
.categories_filter span.span_grid img,
.categories_filter span.span_print img {
    box-shadow: none;
    cursor: pointer;
    border-radius: 0px;
}

span.wpgmp_nearby_distance {
    font-style: italic;
    color: #9e9e9e;
    float: left;
    margin-right: 8px;
}

.wpgmp_direction_container,
.wpgmp_routes_container,
.wpgmp_nearby_container {
    margin-top: 20px;
}

.wpgmp_direction_container p {
    margin: 4px 0 7px;
}

.wpgmp_direction_container .wpgmp-direction-form .input {
    float: left;
    width: 235px;
    border-radius: 0!important;
    margin: 4px 10px 5px 0;
    padding: 5px 30px 5px 10px;
}

.wpgmp_direction_container span.wpgmp_mcurrent_loction {
    background: url(../images/nav.png) no-repeat;
    display: inline-block;
    height: 25px;
    cursor: pointer!important;
    vertical-align: middle;
    width: 25px;
    float: right;
    margin: -25px 10px;
}

.wpgmp_direction_container p select[name="start_point"],
.wpgmp_direction_container p select[name="end_point"] {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: none !important;
    display: block;
    padding: 8px 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.wpgmp_direction_container p input.wpgmp_find_direction,
.wpgmp_nearby_container .wpgmp_find_nearby_button {
    background: #6C7A89 !important;
    border: 2px solid #6C7A89;
    color: #ffffff;
    padding: 8px 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    font-weight: 300;
}

.wpgmp_nearby_container select[name="wpgmp_route_dimension"] {
    width: 25%;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: none !important;
    color: #555555;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 8px 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.wpgmp_nearby_container .wpgmp_find_nearby_button {
    margin-top: 5px;
}

.wpgmp_nearby_container select#tmode {
    width: 175px;
    background: none;
    color: #666;
    margin: 4px 10px 7px 0;
    padding: 5px 0 5px 5px;
}

.wpgmp_nearby_container .wpgmp_set_current_location {
    font-size: 10px;
    color: #424141;
    border: solid 1px #ddd;
    display: block;
    background: #fff;
    margin: 10px 0;
    padding: 5px 0;
}

.wpgmp_nearby_container span.wpgmp_mcurrent_loction {
    background: url(../images/nav.png) no-repeat;
    display: inline-block;
    height: 25px;
    cursor: pointer!important;
    vertical-align: middle;
    width: 25px;
    margin: 3px -35px;
}

.wpgmp_direction_container p input.wpgmp_find_direction:hover,
.wpgmp_nearby_container .wpgmp_find_nearby_button:hover {
    background: #6C7A89 !important;
    color: #fff;
}

.wpgmp_toggle_container {
    background: #F8F8F8!important;
    border-radius: 0 0 4px 4px;
    bottom: -21px;
    cursor: pointer;
    font-size: 14px;
    left: 50%;
    margin-left: -49px;
    position: absolute;
    text-align: center;
    width: 90px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
}

.wpgmp_locations_content img {
    vertical-align: middle;
}

.wpgmp_location_meta {
    display: inline-block;
    float: right;
    margin-right: 10px;
    font-size: small;
    color: #333333;
    font-style: italic;
}

.wpgmp_display_category_data {
    list-style: none!important;
}

.wpgmp_loading {
    min-width: 300px;
    min-height: 100px;
    background: url(../images/loader.gif) no-repeat center;
}

.wpgmp_display_locations_data {
    list-style: none!important;
    padding-bottom: 12px!important;
    border-bottom: 1px solid #E5E4E2!important;
    margin: 16px 0!important;
}

.wpgmp_display_locations_data h2 {
    margin-bottom: 12px!important;
    padding: 0!important;
}

.wpgmp_display_locations_data p {
    margin-bottom: 7px!important;
    font-size: 15px!important;
    padding: 0!important;
}

.wpgmp_display_locations_data img {
    float: left!important;
    width: 30px!important;
    height: 30px!important;
}

.wpgmp_locations_listing div.wpgmp_pagination {
    text-align: center;
    margin: 3px;
    padding: 3px;
}

.wpgmp_locations_listing div.wpgmp_pagination a {
    margin-right: 2px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #aaa;
    padding: 2px 5px;
}

.wpgmp_locations_listing div.wpgmp_pagination span.current {
    margin-right: 2px;
    border: 1px solid #e0e0e0;
    font-weight: 700;
    background-color: #f0f0f0;
    color: #aaa;
    padding: 2px 5px;
}

.wpgmp_locations_listing div.wpgmp_pagination a:hover,
div.wpgmp_pagination a:active {
    margin-right: 2px;
    padding: 2px 5px;
}

div.wpgmp_pagination span.disabled {
    margin-right: 2px;
    border: 1px solid #f3f3f3;
    color: #ccc;
    padding: 2px 5px;
}

div.wpgmp_listing_header,
div.categories_filter,
div.wpgmp_categories,
div.wpgmp_before_listing {
    float: left;
    width: 100%;
    margin: 5px 0;
}

.wpgmp_location_container {
    padding: 0;
}

.wpgmp_listing_container .wpgmp_location_listing_header {
    font-weight: 400;
    margin: 10px 5px;
}

div.wpgmp_search_form input.wpgmp_search_input {
    background: #ffffff;
    color: #555555;
    display: block;
    font-size: 14px;
    padding: 11px 0px 11px 10px;
    width: 99%;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

div.wpgmp_search_form input.wpgmp_search_input:focus {}

div.wpgmp_nearby_container input[name="wpgmp_radius"] {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    float: left;
    color: #555555;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 0px 10px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

div.wpgmp_tabs_container div.wpgmp_tab_item span.arrow img {
    width: 100%;
    box-shadow: none;
    vertical-align: middle;
}

div.wpgmp_toggle_main_container div.wpgmp_tab_item ul.wpgmp_location_container li {
    list-style: none outside none;
    margin-top: 3px;
    padding-left: 10px;
}

div.wpgmp_toggle_main_container div.wpgmp_tab_item ul.wpgmp_location_container li .wpgmp_specific_location_item {
    margin-right: 10px;
}

div.wpgmp_toggle_main_container div.wpgmp_tab_item ul.wpgmp_location_container li a {
    text-decoration: none;
}

div.wpgmp_direction_panel_container {
    width: 100%;
    float: left;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

div.wpgmp_direction_panel_container div.dir_start {
    font-weight: bold;
    padding: 7px;
    margin: 10px 12px;
    border-left: 4px solid #BFBFBF;
    background: #eeeeee;
    color: #666;
}

div.wpgmp_direction_panel_container .dir_end {
    font-weight: bold;
    padding: 7px;
    margin: 10px 12px;
    border-left: 4px solid #BFBFBF;
    background: #eeeeee;
    color: #666;
}

div.wpgmp_direction_panel_container .dir_summary {
    margin: 5px 15px;
}

div.wpgmp_direction_panel_container table {
    border: none !important;
    margin: 0px 15px !important;
    padding: 0 !important;
    width: 96% !important;
}

div.wpgmp_direction_panel_container div.dir_end {
    margin-bottom: 20px !important;
}

div.wpgmp_direction_panel_container h2 {
    font-size: 18px;
    background: #dfdfdf;
    border-radius: 3px;
    margin: 10px 0;
}

div.wpgmp_direction_panel_container h2 a {
    background: url("../images/wpgmp-toggle-sprite.png") no-repeat scroll 15px 13px rgba(0, 0, 0, 0);
    color: #666;
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 6px 10px 6px 32px;
    text-decoration: none;
}

div.wpgmp_direction_panel_container h2.open a {
    background-position: 13px -25px;
}

.dir_row {
    font-size: 14px;
    padding-right: 10px;
}

.dir_sprite {
    width: 20px;
    height: 20px;
    display: block;
}

div.wpgmp_rdpcontainer {
    background: #f7f8f8;
}

div.wpgmp_direction_panel_container table tr,
div.wpgmp_direction_panel_container table td {
    border: none !important;
    background: none !important;
    border-bottom: 1px solid #e8ebec !important;
}

div.wpgmp_before_listing h2 {
    margin: 0px;
}

div.wpgmp_listing_header div.wpgmp_search_form {
    float: left;
    width: 100%;
    margin: 20px 0px;
}

div.categories_filter select {
    margin-right: 5px;
    background: none repeat scroll 0 0 rgba(249, 249, 249, 0.07);
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: none !important;
    display: block;
    font-size: 13px;
    padding: 10px;
    float: left;
    height: 40px;
}

div.directions-panel,
div.wpgmp-directions-panel-route-style {
    margin-top: 8px !important;
    background: #ffffff;
    padding: 2px 9px !important;
    border: 1px solid #e8ebec !important;
}

div.directions-panel table,
div.directions-panel table tr,
div.directions-panel table tr td {
    border: none !important;
    background: none !important;
    vertical-align: top !important;
}

div.wpgmp-directions-panel-route-style table,
div.wpgmp-directions-panel-route-style table tr,
div.wpgmp-directions-panel-route-style table tr td {
    border: none !important;
    background: none !important;
    border-bottom: 1px solid #e8ebec !important;
    vertical-align: top !important;
}

div.directions-panel table tr td img,
div.wpgmp-directions-panel-route-style table tr td img {
    box-shadow: none !important;
}

div.wpgmp_categories div.wpgmp_no_locations {
    font: italic normal 18px georgia;
    line-height: 25px;
    margin: 10px 6px;
}

div.wpgmp_infowindow {
    overflow: hidden;
}

.direction-panel .adp-text {
    padding-left: 10px;
}

.adp-directions tr td:first-child,
.adp-directions tr td:nth-child(2),
.adp-directions tr td::last-child {
    width: 10% !important;
}

.adp-directions tr td:nth-child(3) {
    width: 70% !important;
}

.directions-panel {
    height: 280px !important;
    overflow: auto;
}

.directions-panel .adp-text {
    padding-left: 10px;
}

.adp-directions {
    margin: 0px;
    padding: 0px;
    width: 100%;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.adp-directions table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.adp-directions tr:hover td {
    background-color: #ffffff;
}

.adp-directions td {
    vertical-align: middle;
    background-color: #e5e5e5;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}
/**********************/

.wpgmp_toggle_main_container legend {
    font-size: 1em !important;
    background: #f1f1f1;
    color: #000 !important;
    padding: 5px !important;
}

.wpgmp_toggle_main_container input[type="text"] {
    display: block;
    width: 96%;
    font-size: 1em;
    border: solid 1px #f1f1f1 !important;
}

.wpgmp_toggle_main_container input[name="wpgmp_radius"] {
    width: 25%;
    float: left;
    margin-right: 20px;
}

.wpgmp_toggle_main_container span.wpgmp_mcurrent_loction {
    background: url(../images/nav.png) no-repeat;
    display: inline-block;
    height: 25px;
    cursor: pointer!important;
    vertical-align: middle;
    width: 25px;
    float: right;
    margin: -36px 10px;
}

.wpgmp_toggle_main_container p {
    margin: 4px 0 7px;
}

.wpgmp_toggle_main_container p select {
    width: 40%;
    display: block;
    font-weight: 300 !important;
    font-size: 1.1em;
    float: left;
    margin-right: 20px;
    height: 27px;
}

.wpgmp_toggle_main_container input[type="submit"] {
    background: #6C7A89 !important;
    border: 2px solid #6C7A89;
    color: #ffffff;
    padding: 8px 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    font-weight: 300;
    margin-top: 10px;
}

.wpgmp_toggle_main_container .choose_amenities {
    clear: both;
    border: solid 1px #ddd !important;
    padding: 3px;
    background-color: #f7f7f7;
}

.wpgmp_toggle_main_container .choose_amenities label {
    display: block;
}

.wpgmp_toggle_main_container .choose_amenities input[type='checkbox'] {
    margin-left: 10px;
}

.wpgmp_listing_list .wpgmp_locations .wpgmp_location_title {
    display: inline-block;
}

div.wpgmp_listing_container {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}

.wpgmp_pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.wpgmp_pagination span,
.wpgmp_pagination a {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px rgba(0, 0, 0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.wpgmp_pagination a:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
}

.wpgmp_pagination span.current {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px rgba(255, 255, 255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}
